@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/AlexBrush/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/AlexBrush/alexbrush-regular-webfont.woff') format('woff'),
         url('../fonts/AlexBrush/AlexBrush-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'ralewayregular';
    src: url('../fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/Raleway/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sacramentoregular';
    src: url('../fonts/Sacramento/sacramento-regular-webfont.woff2') format('woff2'),
         url('../fonts/Sacramento/sacramento-regular-webfont.woff') format('woff'),
         url('../fonts/Sacramento/Sacramento-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cold_night_for_alligatorsRg';
    src: url('../fonts/ColdNight/coldnightforalligators-webfont.woff2') format('woff2'),
         url('../fonts/ColdNight/coldnightforalligators-webfont.woff') format('woff'),
         url('../fonts/ColdNight/coldnightforalligators.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nightmare_5regular';
    src: url('../fonts/Nightmare/nightmare_5-webfont.woff2') format('woff2'),
         url('../fonts/Nightmare/nightmare_5-webfont.woff') format('woff'),
         url('../fonts/ColdNight/coldnightforalligators.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;
}
h1{
    color: rgb(23, 156, 63);
}

p{
    color:aliceblue; background-color: black;
}
body{
    background-color: antiquewhite;
}

/*Start Header*/

header{
    background-color:cadetblue;
    width: 100%;
    height: 60px;
}
header div.hd1{
    height: 60px;
    width: 40%;
    background-color: darkcyan;
    float: left;
    font-family: 'ralewayregular';
}
header div.hd2{
    height: 60px;
    width: 35%;
    float: right;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 221, 221, .3);
    margin-right: 0px;
    font-family: 'alex_brushregular';
}
header div.hd1 ul li{
    float: left;
    line-height: 60px;
    margin-left: 45px;
    list-style: none;
}
header div.hd1 ul{
    float: left;
}
header div.hd1 ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: all .5s ease-in-out;
    font-size: 15px;
}
header div.hd1 ul li a:hover{
    color: chartreuse;
}
header div.hd2 .contact .text1 h2{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    line-height: 60px;
}
header div.hd2 .contact{
    width: 45%;
    border-right: 1px solid whitesmoke;
    background-color: rgba(0, 71, 67, 0.45);
    display: flex;
    flex-direction: row;
}
header div.hd2 .contact .text1{
    width: 65%;
    list-style: none;
}
header div.hd2 .contact .logo1{
    width: 30px;
    height: 30px;
    line-height: 60px;
    margin: 8px 0px 0px 3px;
}
header div.hd2 .contact .text1 h2 a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}
header div.hd2 .contact .text1 h2 a:hover{
    color: rgb(255, 223, 231);
}
header div.hd2 .usr{
    width: 55%;
    border-left: 2px solid white;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 71, 67, 0.45);
}
header div.hd2 .usr .text2{
    float: left;
    width: 80%;
}
header div.hd2 .usr .text2 h2 a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 25px;
    line-height: 60px;
    transition: all .3s ease-in-out;
}
header div.hd2 .usr .text2 h2 a:hover{
    color: rgb(255, 223, 231);
}
header div.hd2 .usr .logo2{
    line-height: 60px;
    width: 30px;
    height: 30px;
    margin: 14px 30px 0px 3px;
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

/*End Header*/

/*Start Section 1*/

.section1{
    background-color: rgb(255, 245, 233);
    width: 100%;
    height: 1080px;
}
.section1 .nav1{
    background: rgb(248, 231, 253);
    width: 25%;
    height: 740px;
    float: left;
    margin: 4px 6px;
    border: 1px solid rgba(162, 69, 250, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.section1 .nav1 .box1{
    /*background: rgba(255, 214, 214, 0.753);*/
    width: 70%;
    height: 150px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.section1 .nav1 .box1 img{
    width: 156px;
    height: 146px;
    margin: auto;
}
.section1 .nav1 .border1{
    width: 70%;
    height: 1.5px;
    background: rgb(136, 0, 163);
    margin: 10px auto;
}
.section1 .nav1 .titles{
    width: 95%;
    height: 450px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.section1 .nav1 .titles h3{
    font-family: 'ralewayregular';
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 3pxx;
}
.section1 .nav1 .titles ul{
    margin-top: 10px;
    margin-left: 8px;
    list-style: none;
}
.section1 .nav1 .titles ul li{
    padding: 6px 0;
}
.section1 .nav1 .titles ul li a{
    text-decoration: none;
    font-family: 'open_sansregular';
    font-size: 14px;
    color: rgb(0, 75, 65);
    text-shadow:1px 1px 10px rgb(208, 255, 0);
    transition: all .3s ease;
}
.section1 .nav1 .titles ul li a:hover{
    font-weight: bold;
    text-shadow:1px 1px 5px rgb(133, 0, 160);
    color: rgb(247, 230, 0);
    padding-left: 5px;
}
.section1 .nav1 .titles ul li a:active{
    font-weight: bold;
    text-shadow:1px 1px 3px rgb(0, 174, 255);
    color: rgb(182, 0, 0);
    padding-left: 5px;
    transition: none;
}
.section1 .nav1 .titles .btn1{
    padding: 3px 10px;
    margin: 7px auto;
    background: rgb(48, 48, 48);
    border: 2px solid rgb(160, 160, 160);
    border-radius: 25px;
}
.section1 .nav1 .titles .btn1:hover{
    padding: 3px 12px;
    background: rgb(62, 63, 47);
    border: 2px solid rgb(155, 156, 140);
}
.section1 .nav1 .titles .btn1 a{
    text-decoration: none;
    color: lightcyan;
    font-size: 15px;
}
.section1 .nav1 .titles .btn1 a:hover{
    color: yellow;
}
.section1 .nav1 .border2{
    width: 85%;
    height: 2px;
    background: rgb(136, 0, 163);
    margin: 20px auto;
}
.section1 .nav1 .search{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section1 .nav1 .search input{
    width: 70%;
    margin: 0 0 0 20px;
    padding: 2px 0;
}
.section1 .nav1 .search img{
    width: 7%;
    height: 90%;
    margin: 0 auto;
}
.section1 .nav1 .search img:hover{
    transition: all .2s ease;
    width: 7.4%;
    height: 100%;
}
.section1 .nav2{
    background: rgba(0, 0, 0, 0.103);
    width: 73.73%;
    height: 1080px;
    float: right;
    display: flex;
    flex-direction: column;
}
.section1 .nav2 .slide{
    width: 99.5%;
    height: 376px;
    margin-top: 6px;
    float: left;
    background: rgba(0, 53, 18, 0.753);
    position: relative;
    text-align: center;
    color: white;
}
.section1 .nav2 .slide img{
    width: 100%;
    height: 376px;
    opacity: .8;
}
.section1 .nav2 .slide .bt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'nightmare_5regular';
    font-size: 70px;
    text-shadow: 2px 2px 10px black;
}
/*box 1*/
.section1 .nav2 .tbox1{
    width: 98%;
    height: 310px;
    background: rgba(0, 0, 0, 0.171);
    margin: 7px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.section1 .nav2 .tbox1 .tbox1img{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
}
.section1 .nav2 .tbox1 .tbox1img img{
    height: 70%;
    margin: auto auto;
    border-radius: 6px;
}
.section1 .nav2 .tbox1 .tbox1txt{
    width: 45%;
    height: 90%;
    margin: auto;
    float: right;
    display: flex;
    flex-direction: column;
}
.section1 .nav2 .tbox1 .tbox1txt h3{
    padding: 7px;
}
.section1 .nav2 .tbox1 .tbox1txt h3 a{
    text-decoration: none;
    font-family: "ralewayregular";
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 251, 236);
    text-shadow: 3px 3px 6px black;
}
.section1 .nav2 .tbox1 .tbox1txt h3 a:hover{
    font-size: 19.3px;
    border-bottom:1px solid rgba(94, 89, 51, 0.61);
    color: rgb(255, 244, 206);
}
.section1 .nav2 .tbox1 .tbox1txt .line{
    float: left;
    height: 3px;
    width: 55%;
    background: rgb(0, 75, 65);
    margin: 10px;
}
.section1 .nav2 .tbox1 .tbox1txt .txt{
    font-size: 16px;
    font-family: 'open_sansregular';
    font-weight: bold;
    margin: 15px 15px;
}
.section1 .nav2 .tbox1 .tbox1txt .txt h4{
    text-align: justify;
    text-justify: inter-word;
}
.section1 .nav2 .tbox1 .tbox1txt .boxbtn{
    padding: 5px;
    width: 100px;
    background: rgb(39, 39, 39);
    float: right;
    margin: 0 68%;
}
.section1 .nav2 .tbox1 .tbox1txt .boxbtn:hover{
    padding: 6px;
}
.section1 .nav2 .tbox1 .tbox1txt .boxbtn a{
    color: azure;
    text-decoration: none;
}
.section1 .nav2 .tbox1 .tbox1txt .boxbtn a:hover{
    color: bisque;
}
/*box 2*/
.section1 .nav2 .tbox2{
    width: 98%;
    height: 360px;
    background: rgba(0, 0, 0, 0.171);
    margin: 1px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.section1 .nav2 .tbox2 .tbox2img{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
}
.section1 .nav2 .tbox2 .tbox2img img{
    height: 60%;
    margin: auto auto;
    border-radius: 6px;
}
.section1 .nav2 .tbox2 .tbox2txt{
    width: 45%;
    height: 90%;
    margin: auto;
    float: right;
    display: flex;
    flex-direction: column;
}
.section1 .nav2 .tbox2 .tbox2txt h3{
    padding: 7px;
}
.section1 .nav2 .tbox2 .tbox2txt h3 a{
    text-decoration: none;
    font-family: "ralewayregular";
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 251, 236);
    text-shadow: 3px 3px 6px black;
}
.section1 .nav2 .tbox2 .tbox2txt h3 a:hover{
    font-size: 19.3px;
    border-bottom:1px solid rgba(94, 89, 51, 0.61);
    color: rgb(255, 244, 206);
}
.section1 .nav2 .tbox2 .tbox2txt .line2{
    float: left;
    height: 3px;
    width: 82%;
    background: rgb(0, 75, 65);
    margin: 10px;
}
.section1 .nav2 .tbox2 .tbox2txt .txt{
    font-size: 16px;
    font-family: 'open_sansregular';
    font-weight: bold;
    margin: 15px 15px;
}
.section1 .nav2 .tbox2 .tbox2txt .txt h4{
    text-align: justify;
    text-justify: inter-word;
}
.section1 .nav2 .tbox2 .tbox2txt .boxbtn{
    padding: 5px;
    width: 100px;
    background: rgb(39, 39, 39);
    float: right;
    margin: 0 68%;
}
.section1 .nav2 .tbox2 .tbox2txt .boxbtn:hover{
    padding: 6px;
}
.section1 .nav2 .tbox2 .tbox2txt .boxbtn a{
    color: azure;
    text-decoration: none;
}
.section1 .nav2 .tbox2 .tbox2txt .boxbtn a:hover{
    color: bisque;
}
/*End Section 1*/

/*Start Section 2*/
.section2{
    width: 100%;
    height: 330px;
    background: rgba(51, 102, 51, 0.479);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
/*box 1*/
.section2 .mbox{
    width: 99%;
    height: 330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section2 .mbox .box1{
    width: 19%;
    height: 310px;
    background: rgb(0,60,0,.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.section2 .mbox .box1 img{
    width: 50%;
    margin: 20px auto;
}
.section2 .mbox .box1 img:hover{
    transition: all .3s ease;
    width: 52%;
}
.section2 .mbox .box1 h3{
    margin: 2px auto;
}
.section2 .mbox .box1 p{
    color: #fff;
    background: none;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 10px 0 10px;
}
.section2 .mbox .box1 Button{
    margin: 8px 5px 0 0;
    padding: 4px;
    background: rgba(26, 26, 26, 0.918);
    border-radius: 5px;
    width: 30%;
    margin: auto auto;
}
.section2 .mbox .box1 Button a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(194, 255, 255);
}
.section2 .mbox .box1 Button:hover{
    background: rgb(156, 156, 0);
    padding: 5px;
}
.section2 .mbox .box1 Button a:hover{
    color: #000;
}
/*box 2*/
.section2 .mbox .box2{
    width: 19%;
    height: 310px;
    background: rgb(0,60,0,.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.section2 .mbox .box2 img{
    width: 50%;
    margin: 20px auto;
}
.section2 .mbox .box2 img:hover{
    transition: all .3s ease;
    width: 52%;
}
.section2 .mbox .box2 h3{
    margin: 2px auto;
}
.section2 .mbox .box2 p{
    color: #fff;
    background: none;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 10px 0 10px;
}
.section2 .mbox .box2 Button{
    margin: 8px 5px 0 0;
    padding: 4px;
    background: rgba(26, 26, 26, 0.918);
    border-radius: 5px;
    width: 30%;
    margin: auto auto;
}
.section2 .mbox .box2 Button a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(194, 255, 255);
}
.section2 .mbox .box2 Button:hover{
    background: rgb(156, 156, 0);
    padding: 5px;
}
.section2 .mbox .box2 Button a:hover{
    color: #000;
}
/*box3*/
.section2 .mbox .box3{
    width: 19%;
    height: 310px;
    background: rgb(0,60,0,.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.section2 .mbox .box3 img{
    width: 50%;
    margin: 22px auto;
}
.section2 .mbox .box3 img:hover{
    transition: all .3s ease;
    width: 52%;
}
.section2 .mbox .box3 h3{
    margin: 2px auto;
    font-size: 17px;
}
.section2 .mbox .box3 p{
    color: #fff;
    background: none;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 10px 0 10px;
}
.section2 .mbox .box3 Button{
    margin: 8px 5px 0 0;
    padding: 4px;
    background: rgba(26, 26, 26, 0.918);
    border-radius: 5px;
    width: 30%;
    margin: auto auto;
}
.section2 .mbox .box3 Button a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(194, 255, 255);
}
.section2 .mbox .box3 Button:hover{
    background: rgb(156, 156, 0);
    padding: 5px;
}
.section2 .mbox .box3 Button a:hover{
    color: #000;
}
/*box 4*/
.section2 .mbox .box4{
    width: 19%;
    height: 310px;
    background: rgb(0,60,0,.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.section2 .mbox .box4 img{
    width: 50%;
    margin: 20px auto;
}
.section2 .mbox .box4 img:hover{
    transition: all .3s ease;
    width: 52%;
}
.section2 .mbox .box4 h3{
    margin: 2px auto;
}
.section2 .mbox .box4 p{
    color: #fff;
    background: none;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 10px 0 10px;
}
.section2 .mbox .box4 Button{
    margin: 8px 5px 0 0;
    padding: 4px;
    background: rgba(26, 26, 26, 0.918);
    border-radius: 5px;
    width: 30%;
    margin: auto auto;
}
.section2 .mbox .box4 Button a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(194, 255, 255);
}
.section2 .mbox .box4 Button:hover{
    background: rgb(156, 156, 0);
    padding: 5px;
}
.section2 .mbox .box4 Button a:hover{
    color: #000;
}
/*box 5*/
.section2 .mbox .box5{
    width: 19%;
    height: 310px;
    background: rgb(0,60,0,.5);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.section2 .mbox .box5 img{
    width: 43%;
    margin: 20px auto;
    padding: 8px;
}
.section2 .mbox .box5 img:hover{
    transition: all .3s ease;
    width: 45%;
}
.section2 .mbox .box5 h3{
    margin: 2px auto;
}
.section2 .mbox .box5 p{
    color: #fff;
    background: none;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 10px 0 10px;
}
.section2 .mbox .box5 Button{
    margin: 8px 5px 0 0;
    padding: 4px;
    background: rgba(26, 26, 26, 0.918);
    border-radius: 5px;
    width: 30%;
    margin: auto auto;
}
.section2 .mbox .box5 Button a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(194, 255, 255);
}
.section2 .mbox .box5 Button:hover{
    background: rgb(156, 156, 0);
    padding: 5px;
}
.section2 .mbox .box5 Button a:hover{
    color: #000;
}
/*End Section 2*/